In [1]:
import pandas as pd
import numpy as np
pd.options.plotting.backend = "plotly"

# TODO LIST

* use mean price to set baseline


* features:
    * nr of years since construction
    * nr of years since renovation

In [2]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.getOrCreate()
)

2022-12-22 12:37:44,482 WARN util.Utils: Your hostname, laptop-2212 resolves to a loopback address: 127.0.1.1; using 192.168.0.145 instead (on interface wlp3s0)
2022-12-22 12:37:44,483 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
2022-12-22 12:37:45,200 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Defining a schema
I prefer to use Floats instead of Integers because it's more flexible and avoids the pipeline erroring out in case of noise.

In [130]:
from pyspark.sql.types import *
schema = StructType(
        [
            StructField("id", LongType(), True),
            StructField("date", StringType(), True),
            StructField("price", FloatType(), True),
            StructField("bedrooms", FloatType(), True),
            StructField("bathrooms", FloatType(), True),
            StructField("sqft_living", FloatType(), True),
            StructField("sqft_lot", FloatType(), True),
            StructField("floors", FloatType(), True),
            StructField("waterfront", IntegerType(), True),
            StructField("view", IntegerType(), True),
            StructField("condition", IntegerType(), True),
            StructField("grade", IntegerType(), True),
            StructField("sqft_above", FloatType(), True),
            StructField("sqft_basement", FloatType(), True),
            StructField("yr_built", IntegerType(), True),
            StructField("yr_renovated", IntegerType(), True),
            StructField("zipcode", IntegerType(), True),
            StructField("lat", DoubleType(), True),
            StructField("long", DoubleType(), True),
            StructField("sqft_living15", FloatType(), True),
            StructField("sqft_lot15", FloatType(), True),
        ]
)
df = spark.read.csv("data/kc_house_data.csv", header=True, schema=schema, mode="PERMISSIVE")
df.show()

+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013T000000| 221900.0|     3.0|      1.0|     1180.0|  5650.0|   1.0|         0|   0|        3|    7|    1180.0|          0.0|    1955|           0|  98178|47.5112|-122.257|       1340.0|    5650.0|
|6414100192|20141209T000000| 538000.0|     3.0|     2.25|     2570.0|  7242.0|   2.0|         0|   0|        3|    7|    2170.0|        400.0|    1951|        1991|  98125| 47.721|-122.319|       1690.0|    7639.0|
|5631500400|20150225T000000| 180000.0|     2.0|      1.0|      770.0| 10000.0|   1.0|         0|   0|        3|    6|     770.0|          0.0|    1933|           0|  98028|47.7379|-122.233|       2720.0|    8062.0|
|2487200875|20141209T000000| 604000.0|     4.0|      3.0|     1960.0|  5000.0|   1.0|         0|   0|        5|    7|    1050.0|        910.0|    1965|           0|  98136|47.5208|-122.393|       1360.0|    5000.0|
|1954400510|20150218T000000| 510000.0|     3.0|      2.0|     1680.0|  8080.0|   1.0|         0|   0|        3|    8|    1680.0|          0.0|    1987|           0|  98074|47.6168|-122.045|       1800.0|    7503.0|
|7237550310|20140512T000000|1225000.0|     4.0|      4.5|     5420.0|101930.0|   1.0|         0|   0|        3|   11|    3890.0|       1530.0|    2001|           0|  98053|47.6561|-122.005|       4760.0|  101930.0|
|1321400060|20140627T000000| 257500.0|     3.0|     2.25|     1715.0|  6819.0|   2.0|         0|   0|        3|    7|    1715.0|          0.0|    1995|           0|  98003|47.3097|-122.327|       2238.0|    6819.0|
|2008000270|20150115T000000| 291850.0|     3.0|      1.5|     1060.0|  9711.0|   1.0|         0|   0|        3|    7|    1060.0|          0.0|    1963|           0|  98198|47.4095|-122.315|       1650.0|    9711.0|
|2414600126|20150415T000000| 229500.0|     3.0|      1.0|     1780.0|  7470.0|   1.0|         0|   0|        3|    7|    1050.0|        730.0|    1960|           0|  98146|47.5123|-122.337|       1780.0|    8113.0|
|3793500160|20150312T000000| 323000.0|     3.0|      2.5|     1890.0|  6560.0|   2.0|         0|   0|        3|    7|    1890.0|          0.0|    2003|           0|  98038|47.3684|-122.031|       2390.0|    7570.0|
|1736800520|20150403T000000| 662500.0|     3.0|      2.5|     3560.0|  9796.0|   1.0|         0|   0|        3|    8|    1860.0|       1700.0|    1965|           0|  98007|47.6007|-122.145|       2210.0|    8925.0|
|9212900260|20140527T000000| 468000.0|     2.0|      1.0|     1160.0|  6000.0|   1.0|         0|   0|        4|    7|     860.0|        300.0|    1942|           0|  98115|  47.69|-122.292|       1330.0|    6000.0|
| 114101516|20140528T000000| 310000.0|     3.0|      1.0|     1430.0| 19901.0|   1.5|         0|   0|        4|    7|    1430.0|          0.0|    1927|           0|  98028|47.7558|-122.229|       1780.0|   12697.0|
|6054650070|20141007T000000| 400000.0|     3.0|     1.75|     1370.0|  9680.0|   1.0|         0|   0|        4|    7|    1370.0|          0.0|    1977|           0|  98074|47.6127|-122.045|       1370.0|   10208.0|
|1175000570|20150312T000000| 530000.0|     5.0|      2.0|     1810.0|  4850.0|   1.5|         0|   0|        3|    7|    1810.0|          0.0|    1900|           0|  98107|  47.67|-122.394|       1360.0|    4850.0|
|9297300055|20150124T000000| 650000.0|     4.0|      3.0|     2950.0|  5000.0|   2.0|         0|   3|        3|    9|    1980.0|        970.0|    1979|           0|  98126|47.5714|-122.375|       2140.0|    4000.0|
|1875500060|20140731T000000| 395000.0|     3.0|      2.0|     1890.0| 14040.0|   2.0|         0|   0|        3|    7|    1890.0|          0.0|    1994|           0|  98019|47.7277|-121.962|       1890.0|   14018.0|
|6865200140|20140529T000000| 485000.0|     4.0|      1.0|     1600.0|  4300.0|   1.5|         0|   0|        4|    7|    1600.0|          0.0|    1916|           0|  98103|47.6648|-122.343|       1610.0|    4300.0|
|  16000397|20141205T000000| 189000.0|     2.0|      1.0|     1200.0|  9850.0|   1.0|         0|   0|        4|    7|    1200.0|          0.0|    1921|           0|  98002|47.3089| -122.21|       1060.0|    5095.0|
|7983200060|20150424T000000| 230000.0|     3.0|      1.0|     1250.0|  9774.0|   1.0|         0|   0|        4|    7|    1250.0|          0.0|    1969|           0|  98003|47.3343|-122.306|       1280.0|    8850.0|
+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

# Noisy data and missing values
One of the criteria of the `Production Model` part of the assignment is that the service should be able to handle noisy data and missing values. However, the provided dataset is clean, so I will be creating a version with nulls so that we can work on it from the start.

Regarding noise, I will be configuring the system to turn any parse errors into nulls, so that then they go through the same preprocessing. That is done with the PERMISSIVE mode when parsing

In [151]:
null_frac = 0.05
df_with_nulls = df
for seed, col_name in enumerate(df.columns):
    df_with_nulls = df_with_nulls.withColumn(col_name, when(rand(seed) > null_frac, col(col_name)))
df_with_nulls.show()

+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013T000000| 221900.0|     3.0|      1.0|       null|  5650.0|   1.0|         0|   0|        3| null|    1180.0|          0.0|    1955|           0|  98178|47.5112|-122.257|       1340.0|    5650.0|
|6414100192|20141209T000000| 538000.0|     3.0|     2.25|     2570.0|  7242.0|   2.0|         0|   0|        3|    7|    2170.0|        400.0|    1951|        1991|  98125| 47.721|-122.319|       1690.0|    7639.0|
|5631500400|20150225T000000| 180000.0|     2.0|      1.0|      770.0| 10000.0|   1.0|         0|null|        3|    6|     770.0|          0.0|    1933|           0|  98028|47.7379|-122.233|       2720.0|    8062.0|
|2487200875|20141209T000000| 604000.0|     4.0|      3.0|     1960.0|  5000.0|   1.0|         0|   0|        5|    7|    1050.0|        910.0|    1965|           0|  98136|47.5208|-122.393|       1360.0|    5000.0|
|1954400510|20150218T000000| 510000.0|     3.0|     null|     1680.0|  8080.0|   1.0|         0|   0|        3|    8|      null|          0.0|    1987|           0|  98074|47.6168|-122.045|       1800.0|    7503.0|
|7237550310|20140512T000000|1225000.0|     4.0|      4.5|       null|101930.0|   1.0|         0|   0|        3|   11|    3890.0|       1530.0|    2001|           0|  98053|47.6561|-122.005|       4760.0|  101930.0|
|1321400060|20140627T000000| 257500.0|     3.0|     2.25|     1715.0|  6819.0|   2.0|         0|   0|        3|    7|    1715.0|          0.0|    1995|           0|  98003|47.3097|-122.327|       2238.0|    6819.0|
|2008000270|20150115T000000| 291850.0|     3.0|      1.5|     1060.0|  9711.0|   1.0|         0|   0|        3|    7|    1060.0|         null|    1963|           0|  98198|47.4095|-122.315|       1650.0|    9711.0|
|2414600126|20150415T000000| 229500.0|     3.0|      1.0|     1780.0|  7470.0|   1.0|         0|   0|        3| null|    1050.0|        730.0|    1960|           0|  98146|   null|-122.337|       1780.0|      null|
|      null|20150312T000000|     null|     3.0|      2.5|     1890.0|  6560.0|   2.0|         0|   0|        3|    7|    1890.0|          0.0|    2003|           0|  98038|47.3684|-122.031|       2390.0|      null|
|1736800520|20150403T000000| 662500.0|     3.0|      2.5|     3560.0|  9796.0|   1.0|      null|   0|        3|    8|    1860.0|       1700.0|    1965|           0|  98007|47.6007|-122.145|       2210.0|    8925.0|
|9212900260|20140527T000000| 468000.0|     2.0|      1.0|       null|    null|  null|         0|   0|        4|    7|     860.0|        300.0|    1942|           0|  98115|  47.69|-122.292|       1330.0|    6000.0|
| 114101516|20140528T000000| 310000.0|     3.0|      1.0|     1430.0| 19901.0|   1.5|         0|   0|        4|    7|    1430.0|          0.0|    1927|           0|  98028|47.7558|-122.229|       1780.0|   12697.0|
|6054650070|20141007T000000| 400000.0|     3.0|     1.75|     1370.0|  9680.0|  null|         0|   0|        4|    7|    1370.0|          0.0|    1977|           0|  98074|47.6127|-122.045|       1370.0|   10208.0|
|1175000570|20150312T000000| 530000.0|     5.0|      2.0|     1810.0|  4850.0|   1.5|         0|   0|        3|    7|    1810.0|          0.0|    1900|           0|  98107|  47.67|-122.394|       1360.0|    4850.0|
|9297300055|20150124T000000| 650000.0|     4.0|      3.0|       null|  5000.0|   2.0|         0|   3|        3|    9|    1980.0|        970.0|    1979|           0|  98126|47.5714|-122.375|       2140.0|      null|
|1875500060|20140731T000000| 395000.0|     3.0|      2.0|       null| 14040.0|   2.0|         0|   0|        3|    7|      null|          0.0|    1994|           0|  98019|47.7277|-121.962|       1890.0|   14018.0|
|6865200140|20140529T000000| 485000.0|     4.0|      1.0|     1600.0|  4300.0|   1.5|         0|   0|        4|    7|    1600.0|          0.0|    1916|           0|  98103|47.6648|-122.343|       1610.0|    4300.0|
|  16000397|20141205T000000| 189000.0|     2.0|      1.0|     1200.0|  9850.0|   1.0|         0|   0|        4|    7|    1200.0|          0.0|    1921|        null|  98002|47.3089| -122.21|       1060.0|    5095.0|
|7983200060|20150424T000000| 230000.0|     3.0|      1.0|     1250.0|  9774.0|   1.0|         0|   0|        4| null|    1250.0|          0.0|    1969|           0|  98003|47.3343|-122.306|       1280.0|    8850.0|
+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

* Just counting the nulls

In [152]:
df_with_nulls.select([sum(when(isnull(c), 1)).alias(c) for c in df_with_nulls.columns]).show()

+----+----+-----+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+----+----+-------------+----------+
|  id|date|price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode| lat|long|sqft_living15|sqft_lot15|
+----+----+-----+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+----+----+-------------+----------+
|1042|1067| 1109|    1074|     1105|       1074|    1076|  1118|      1070|1130|     1095| 1067|      1068|         1091|    1089|        1082|    998|1081|1058|         1057|      1005|
+----+----+-----+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+----+----+-------------+----------+

* Parquet is always better because the schema goes embedded

In [154]:
df_with_nulls.write.parquet("data/house_data_with_nulls.parquet", mode="overwrite")

# Convert date

In [72]:
from pyspark.sql.functions import *

df = df.withColumn("date", to_timestamp(col("date"), "yyyyMMdd'T'HHmmss"))
df.show()
df.count()

+----------+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+----------------+--------------+
|        id|               date|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|construction_age|renovation_age|
+----------+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+----------------+--------------+
|7129300520|2014-10-13 00:00:00| 221900.0|     3.0|      1.0|     1180.0|  5650.0|   1.0|         0|   0|        3|    7|    1180.0|          0.0|    1955|           0|  98178|47.5112|-122.257|       1340.0|    5650.0|              59|            59|
|6414100192|2014-12-09 00:00:00| 538000.0|     3.0|     2.25|     2570.0|  7242.0|   2.0|         0|   0|        3|    7|    2170.0|        400.0|    1951|        1991|  98125| 47.721|-122.319|       1690.0|    7639.0|              63|            23|
|5631500400|2015-02-25 00:00:00| 180000.0|     2.0|      1.0|      770.0| 10000.0|   1.0|         0|   0|        3|    6|     770.0|          0.0|    1933|           0|  98028|47.7379|-122.233|       2720.0|    8062.0|              82|            82|
|2487200875|2014-12-09 00:00:00| 604000.0|     4.0|      3.0|     1960.0|  5000.0|   1.0|         0|   0|        5|    7|    1050.0|        910.0|    1965|           0|  98136|47.5208|-122.393|       1360.0|    5000.0|              49|            49|
|1954400510|2015-02-18 00:00:00| 510000.0|     3.0|      2.0|     1680.0|  8080.0|   1.0|         0|   0|        3|    8|    1680.0|          0.0|    1987|           0|  98074|47.6168|-122.045|       1800.0|    7503.0|              28|            28|
|7237550310|2014-05-12 00:00:00|1225000.0|     4.0|      4.5|     5420.0|101930.0|   1.0|         0|   0|        3|   11|    3890.0|       1530.0|    2001|           0|  98053|47.6561|-122.005|       4760.0|  101930.0|              13|            13|
|1321400060|2014-06-27 00:00:00| 257500.0|     3.0|     2.25|     1715.0|  6819.0|   2.0|         0|   0|        3|    7|    1715.0|          0.0|    1995|           0|  98003|47.3097|-122.327|       2238.0|    6819.0|              19|            19|
|2008000270|2015-01-15 00:00:00| 291850.0|     3.0|      1.5|     1060.0|  9711.0|   1.0|         0|   0|        3|    7|    1060.0|          0.0|    1963|           0|  98198|47.4095|-122.315|       1650.0|    9711.0|              52|            52|
|2414600126|2015-04-15 00:00:00| 229500.0|     3.0|      1.0|     1780.0|  7470.0|   1.0|         0|   0|        3|    7|    1050.0|        730.0|    1960|           0|  98146|47.5123|-122.337|       1780.0|    8113.0|              55|            55|
|3793500160|2015-03-12 00:00:00| 323000.0|     3.0|      2.5|     1890.0|  6560.0|   2.0|         0|   0|        3|    7|    1890.0|          0.0|    2003|           0|  98038|47.3684|-122.031|       2390.0|    7570.0|              12|            12|
|1736800520|2015-04-03 00:00:00| 662500.0|     3.0|      2.5|     3560.0|  9796.0|   1.0|         0|   0|        3|    8|    1860.0|       1700.0|    1965|           0|  98007|47.6007|-122.145|       2210.0|    8925.0|              50|            50|
|9212900260|2014-05-27 00:00:00| 468000.0|     2.0|      1.0|     1160.0|  6000.0|   1.0|         0|   0|        4|    7|     860.0|        300.0|    1942|           0|  98115|  47.69|-122.292|       1330.0|    6000.0|              72|            72|
| 114101516|2014-05-28 00:00:00| 310000.0|     3.0|      1.0|     1430.0| 19901.0|   1.5|         0|   0|        4|    7|    1430.0|          0.0|    1927|           0|  98028|47.7558|-122.229|       1780.0|   12697.0|              87|            87|
|6054650070|2014-10-07 00:00:00| 400000.0|     3.0|     1.75|     1370.0|  9680.0|   1.0|         0|   0|        4|    7|    1370.0|          0.0|    1977|           0|  98074|47.6127|-122.045|       1370.0|   10208.0|              37|            37|
|1175000570|2015-03-12 00:00:00| 530000.0|     5.0|      2.0|     1810.0|  4850.0|   1.5|         0|   0|        3|    7|    1810.0|          0.0|    1900|           0|  98107|  47.67|-122.394|       1360.0|    4850.0|             115|           115|
|9297300055|2015-01-24 00:00:00| 650000.0|     4.0|      3.0|     2950.0|  5000.0|   2.0|         0|   3|        3|    9|    1980.0|        970.0|    1979|           0|  98126|47.5714|-122.375|       2140.0|    4000.0|              36|            36|
|1875500060|2014-07-31 00:00:00| 395000.0|     3.0|      2.0|     1890.0| 14040.0|   2.0|         0|   0|        3|    7|    1890.0|          0.0|    1994|           0|  98019|47.7277|-121.962|       1890.0|   14018.0|              20|            20|
|6865200140|2014-05-29 00:00:00| 485000.0|     4.0|      1.0|     1600.0|  4300.0|   1.5|         0|   0|        4|    7|    1600.0|          0.0|    1916|           0|  98103|47.6648|-122.343|       1610.0|    4300.0|              98|            98|
|  16000397|2014-12-05 00:00:00| 189000.0|     2.0|      1.0|     1200.0|  9850.0|   1.0|         0|   0|        4|    7|    1200.0|          0.0|    1921|           0|  98002|47.3089| -122.21|       1060.0|    5095.0|              93|            93|
|7983200060|2015-04-24 00:00:00| 230000.0|     3.0|      1.0|     1250.0|  9774.0|   1.0|         0|   0|        4|    7|    1250.0|          0.0|    1969|           0|  98003|47.3343|-122.306|       1280.0|    8850.0|              46|            46|
+----------+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+----------------+--------------+
only showing top 20 rows

21613

# Age of construction feature

In [65]:
df = df.withColumn("construction_age", year(col("date")) - col("yr_built"))
df.select("date", "yr_built", "construction_age").show()

+-------------------+--------+----------------+
|               date|yr_built|construction_age|
+-------------------+--------+----------------+
|2014-10-13 00:00:00|    1955|              59|
|2014-12-09 00:00:00|    1951|              63|
|2015-02-25 00:00:00|    1933|              82|
|2014-12-09 00:00:00|    1965|              49|
|2015-02-18 00:00:00|    1987|              28|
|2014-05-12 00:00:00|    2001|              13|
|2014-06-27 00:00:00|    1995|              19|
|2015-01-15 00:00:00|    1963|              52|
|2015-04-15 00:00:00|    1960|              55|
|2015-03-12 00:00:00|    2003|              12|
|2015-04-03 00:00:00|    1965|              50|
|2014-05-27 00:00:00|    1942|              72|
|2014-05-28 00:00:00|    1927|              87|
|2014-10-07 00:00:00|    1977|              37|
|2015-03-12 00:00:00|    1900|             115|
|2015-01-24 00:00:00|    1979|              36|
|2014-07-31 00:00:00|    1994|              20|
|2014-05-29 00:00:00|    1916|              98|
|2014-12-05 00:00:00|    1921|              93|
|2015-04-24 00:00:00|    1969|              46|
+-------------------+--------+----------------+
only showing top 20 rows

# Age of renovation
* When creating a renovation age feature, it makes sense that its maximum value is the construction age.

In [70]:
df = df.withColumn("renovation_age", year(col("date")) - greatest(col("yr_built"), col("yr_renovated")))
df.select("date", "yr_built", "yr_renovated", "construction_age", "renovation_age").show(10)
df.select("date", "yr_built", "yr_renovated", "construction_age", "renovation_age").where(col("yr_renovated") != 0).show(10)

+-------------------+--------+------------+----------------+--------------+
|               date|yr_built|yr_renovated|construction_age|renovation_age|
+-------------------+--------+------------+----------------+--------------+
|2014-10-13 00:00:00|    1955|           0|              59|            59|
|2014-12-09 00:00:00|    1951|        1991|              63|            23|
|2015-02-25 00:00:00|    1933|           0|              82|            82|
|2014-12-09 00:00:00|    1965|           0|              49|            49|
|2015-02-18 00:00:00|    1987|           0|              28|            28|
|2014-05-12 00:00:00|    2001|           0|              13|            13|
|2014-06-27 00:00:00|    1995|           0|              19|            19|
|2015-01-15 00:00:00|    1963|           0|              52|            52|
|2015-04-15 00:00:00|    1960|           0|              55|            55|
|2015-03-12 00:00:00|    2003|           0|              12|            12|
+-------------------+--------+------------+----------------+--------------+
only showing top 10 rows

+-------------------+--------+------------+----------------+--------------+
|               date|yr_built|yr_renovated|construction_age|renovation_age|
+-------------------+--------+------------+----------------+--------------+
|2014-12-09 00:00:00|    1951|        1991|              63|            23|
|2014-06-13 00:00:00|    1930|        2002|              84|            12|
|2014-09-08 00:00:00|    1946|        1991|              68|            23|
|2014-10-07 00:00:00|    1950|        2010|              64|             4|
|2014-11-21 00:00:00|    1900|        1999|             114|            15|
|2015-03-02 00:00:00|    1914|        1992|             101|            23|
|2014-11-13 00:00:00|    1916|        2013|              98|             1|
|2014-07-17 00:00:00|    1920|        1994|              94|            20|
|2015-02-21 00:00:00|    1957|        1991|              58|            24|
|2015-04-13 00:00:00|    1915|        1978|             100|            37|
+-------------------+--------+------------+----------------+--------------+
only showing top 10 rows